{
  "log": {
    "_recordingName": "fetchHardwareAssets",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "299865f1f7c5af3023b779ae63ae86de",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "500"
            }
          ],
          "url": "https://develop.snipeitapp.com/api/v1/locations?offset=0&limit=500"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 6107,
            "text": "{\"total\":10,\"rows\":[{\"id\":1,\"name\":\"West Erich\",\"image\":\"https:\\/\\/develop.snipeitapp.com\\/uploads\\/locations\\/6.jpg\",\"address\":\"597 Roman Port Suite 045\",\"address2\":\"Suite 269\",\"city\":\"South Estellachester\",\"state\":\"NJ\",\"country\":\"TG\",\"zip\":\"21404-0231\",\"assigned_assets_count\":10,\"assets_count\":129,\"rtd_assets_count\":124,\"users_count\":0,\"currency\":\"MMK\",\"ldap_ou\":null,\"created_at\":{\"datetime\":\"2022-12-05 23:42:04\",\"formatted\":\"Mon Dec 05, 2022 11:42PM\"},\"updated_at\":{\"datetime\":\"2022-12-05 23:42:04\",\"formatted\":\"Mon Dec 05, 2022 11:42PM\"},\"parent\":null,\"manager\":null,\"children\":[],\"available_actions\":{\"update\":true,\"delete\":false}},{\"id\":2,\"name\":\"Lake Alecberg\",\"image\":\"https:\\/\\/develop.snipeitapp.com\\/uploads\\/locations\\/1.jpg\",\"address\":\"112 Turner Port Apt. 787\",\"address2\":\"Apt. 549\",\"city\":\"New Gillianhaven\",\"state\":\"IA\",\"country\":\"AD\",\"zip\":\"41445\",\"assigned_assets_count\":9,\"assets_count\":136,\"rtd_assets_count\":139,\"users_count\":0,\"currency\":\"ERN\",\"ldap_ou\":null,\"created_at\":{\"datetime\":\"2022-12-05 23:42:04\",\"formatted\":\"Mon Dec 05, 2022 11:42PM\"[...]
